<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    Dropdown
  </title>
  <script>
    window.DropdownData = %% dropdownData %%;
  </script>
</head>

<body>
  <div id="root">
    <h3>Пользователи</h3>
    <div class="dropdown" data-placeholder="Введите имя" data-multiselect="1" data-avatars="1" data-autocomplete="1" data-server="1"
      data-source="users"></div>

    <h3>Страны</h3>
    <div class="dropdown" data-placeholder="Введите название страны" data-autocomplete="1" data-source="countries"></div>
  </div>
  <script>
    (function () {
      var dropdownEls = [].slice.call(document.getElementsByClassName('dropdown'), 0);

      for (var i = 0; i < dropdownEls.length; i++) {
        var el = dropdownEls[i];

        var data = window.DropdownData[el.getAttribute('data-source')];

        if (data) {
          dropdown(el, data);
        }
      }
    })();
  </script>
</body>

</html>