<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    Dropdown
  </title>
  <script>
    console.log('htmlWebpackPlugin', {{{ json htmlWebpackPlugin }}});
    window.DropdownData = %% dropdownData %%;
  </script>
  <script src="http://localhost:{{htmlWebpackPlugin.options.devServerPort}}/webpack-dev-server.js"></script>
</head>

<body>
  <div id="root">
    <h3>Пользователи</h3>
    <div data-dropdown="1" data-placeholder="Введите имя" data-multiselect="1" data-avatars="1" data-autocomplete="1" data-server="1"
      data-source="users"></div>

    <h3>Страны</h3>
    <div data-dropdown="1" data-placeholder="Введите название страны" data-autocomplete="0" data-source="countries"></div>
  </div>
  <script src="http://localhost:{{htmlWebpackPlugin.options.devServerPort}}/public/dropdown.js"></script>
  <script>
    (function () {
      const dropdownEls = [].slice.call(document.querySelectorAll('[data-dropdown]'), 0);

      dropdownEls.forEach(function (el) {
        const data = window.DropdownData[el.dataset.source];

        if (data) {
          dropdown(el, data);
        }
      })
    })();
  </script>
</body>

</html>