* {
  box-sizing: border-box;
}

.root {
  position: relative;
  border: 1px solid #d3d9de;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
    Helvetica Neue, sans-serif;
}

.wrapper {
  padding-right: 20px;
  color: rgb(119, 119, 119);
}

.hidden {
  display: none;
}

.input {
  display: block;
  width: 100%;
  border: none;
  padding: 8px;
  font-size: 13px;
}

.input:focus {
  outline: none;
}

.rightControl {
  position: absolute;
  width: 20px;
  right: 0;
  top: 0.2em;
  text-align: center;
  height: 100%;
  cursor: pointer;
  font-size: 2em;
}

.rightControl::after {
  content: '\002C7';
}

.list {
  position: absolute;
  left: -1px;
  right: -1px;
  max-height: 125px;
  overflow-y: scroll;
  z-index: 1;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #d3d9de;
}

.list.empty::after {
  content: 'Ничего не найдено :(';
}

.empty {
  padding: 8px;
}

.listItem {
  cursor: pointer;
  padding: 4px 8px;
  border-bottom: 1px solid #e7e8ec;
}

.listItem:last-child {
  border-bottom: none;
}

.listItemHover {
  background-color: #f0f2f5;
}

.avatar {
  max-width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}

.picked:empty {
  display: none;
}

.picked {
  padding: 2px 0 0;
}

.pickedItem {
  display: inline-block;
  background-color: #5181b8;
  color: #fff;
  padding: 2px 4px 2px 8px;
  font-size: 13px;
  border-radius: 4px;
  margin: 0 0 2px 2px;
}

.pickedItemRemove {
  display: inline-block;
  font-size: 16px;
  vertical-align: -1px;
  padding: 4px;
  color: #dae2ea;
  cursor: pointer;
}

.pickedItemRemove:hover {
  color: #fff;
}
